@import '../utils/variables';

@mixin tablet {
    @media screen and (min-width: $tablet) {
       @content;
    }
 }
 
 @mixin desctop {
    @media screen and (min-width: $desctop) {
       @content;
    }
 }