 $primary-text-color: #202025;
 $secondary-text-color:#5F6775;
 $dark-theme-text-color: #FCFCFC;
 $accent-color: #FD5103;
 $dark-theme-accent-color: #FD5103;

//  container sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;