$primary-text-color: #202025;
$secondary-text-color: #5f6775;
$dark-theme-text-color: #fcfcfc;
$accent-color: #fd5103;
$dark-theme-accent-color: #fd5103;

//  container sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
