<section class="catalog">
  <h2 class="catalog__title">Cocktails</h2>
  <div class="container">
    <div class="coctails__wrapper-found hidden">
      <p class="coctails__text">Sorry, we didn't find any cocktail for you</p>
      <svg class="coctails__svg" width="345" height="380">
        <use href="/src/images/icons.svg#icon-restaurant"></use>
      </svg>
    </div>
    <ul class="catalog__list">
      <!-- cocktails content here -->
    </ul>
    <div class="paginator">
      <!-- pagination buttons content here-->
    </div>
  </div>
</section>

<div class="hidden">
  <svg class="catalog__icon" width="21" height="19">
    <use href="./images/icons.svg#icon-like"></use>
  </svg>
</div>
   