<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite ingredients</title>

    <link rel="stylesheet" href="./sass/index.scss" />
  </head>

  <body>
    <include src="./partials/header.html"></include>
    <main>
      <section class="favotite-ingredients">
        <div class="container">
          <h2 class="title-ingridient">Favorite ingredients</h2>
          <ul class="list-ingredients">
          </ul>
            <p class="favorite__notfound-msg is-hidden">
              You haven't added any favorite ingredients yet
            </p>
        </div>
      </section>
    </main>

    <include src="./partials/footer.html"></include>
    <include src="./partials/mobile-menu.html"></include>
    <include src="./partials/modal-window-cocktails.html"></include>
    <include src="./partials/modal-window-ingredients.html"></include>

    <script type="module" src="./favorite-ingridients.js"></script>
  </body>
</html>
