<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<footer class = "footer">
    <p class = "footer-info">Copyright © 2023. Created by TCW🤖</p>
</footer>
    <style>
        .footer {
            display: flex;
            justify-content: center;
            align-items: center ;
            height: 110px;
            width: 100%;
            background: #FD5103;
        }
        .footer-info {
            color: hsl(216deg 14% 93%);
        }
    </style>
</body>
</html>
