<header class="header container">
  <div class="header__wraper">
    <a class="header__logo" href="index.html">
      <picture>
        <source srcset="#" media="(max-width: 767px)" type="image/png" />
        <source srcset="#" media="(min-width: 1280px)" type="image/png" />
        <source srcset="#" media="(min-width: 768px)" type="image/png" />
        <img class="logo__nav" src="./images/header/logo@1x-desctop.png" alt="header-logo" />
      </picture>
    </a>
    <div class="header__menu menu">
      <nav class="menu__navbar">
        <ul class="menu__navbar-list">
          <li><a class="menu__navbar-link" href="index.html">Home</a></li>
          <li><a class="menu__navbar-link" href="index.html">Favourite</a></li>
        </ul>
      </nav>
    </div>
    <form class="header__search-form">
      <button class="header__search-form-bttn" type="submit">
        <!-- <svg class="header__search-form-icon"></svg> -->
      </button>
      <input
        class="header__search-form-input"
        placeholder="Search"
        type="text"
        autocomplete="off"
      />
    </form>
    <di>
      <span>Ligth</span>
      <div>
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox" class="checkbox-label">
            <span class="ball" id="ball"></span>
        </label>
      </div>
       <span>Dark</span>
    </div>
    <div class="menu-icon">
      <svg style="display: block" width="30" height="16">
        <use href="#"></use>
      </svg>
    </div>
  </div>
</header>
