<section class="hero section">
  <div class="hero-container">
    <div class="hero__box">
      <h1 class="hero__title">A party without cocktails is not like a party</h1>
      <p class="hero__text tablet-text">Search your favorite cocktail by ABC</p>
          <ul class="to-choose-tablet">
          <li class="letter-tablet"><button value="A" class="js-letter">A</button></li>
          <li class="letter-tablet"><button value="B" class="js-letter">B</button></li>
          <li class="letter-tablet"><button value="C" class="js-letter">C</button></li>
          <li class="letter-tablet"><button value="D" class="js-letter">D</button></li>
          <li class="letter-tablet"><button value="E" class="js-letter">E</button></li>
          <li class="letter-tablet"><button value="F" class="js-letter">F</button></li>
          <li class="letter-tablet"><button value="G" class="js-letter">G</button></li>
          <li class="letter-tablet"><button value="H" class="js-letter">H</button></li>
          <li class="letter-tablet"><button value="I" class="js-letter">I</button></li>
          <li class="letter-tablet"><button value="J" class="js-letter">J</button></li>
          <li class="letter-tablet"><button value="K" class="js-letter">K</button></li>
          <li class="letter-tablet"><button value="L" class="js-letter">L</button></li>
          <li class="letter-tablet"><button value="M" class="js-letter">M</button></li>
          <li class="letter-tablet"><button value="N" class="js-letter">N</button></li>
          <li class="letter-tablet"><button value="O" class="js-letter">O</button></li>
          <li class="letter-tablet"><button value="P" class="js-letter">P</button></li>
          <li class="letter-tablet"><button value="Q" class="js-letter">Q</button></li>
          <li class="letter-tablet"><button value="R" class="js-letter">R</button></li>
          <li class="letter-tablet"><button value="S" class="js-letter">S</button></li>
          <li class="letter-tablet"><button value="T" class="js-letter">T</button></li>
          <li class="letter-tablet"><button value="U" class="js-letter">U</button></li>
          <li class="letter-tablet"><button value="V" class="js-letter">V</button></li>
          <li class="letter-tablet"><button value="W" class="js-letter">W</button></li>
          <li class="letter-tablet"><button value="X" class="js-letter">X</button></li>
          <li class="letter-tablet"><button value="Y" class="js-letter">Y</button></li>
          <li class="letter-tablet"><button value="Z" class="js-letter">X</button></li>
          <li class="letter-tablet"><button value="1" class="js-letter">1</button></li>
          <li class="letter-tablet"><button value="2" class="js-letter">2</button></li>
          <li class="letter-tablet"><button value="3" class="js-letter">3</button></li>
          <li class="letter-tablet"><button value="4" class="js-letter">4</button></li>
          <li class="letter-tablet"><button value="5" class="js-letter">5</button></li>
          <li class="letter-tablet"><button value="6" class="js-letter">6</button></li>
          <li class="letter-tablet"><button value="7" class="js-letter">7</button></li>
          <li class="letter-tablet"><button value="8" class="js-letter">8</button></li>
          <li class="letter-tablet"><button value="9" class="js-letter">9</button></li>
          <li class="letter-tablet"><button value="0" class="js-letter">0</button></li>
        </ul>
    </div>
    <div class="hero__picture">
      <picture>
        <source
          srcset="
            ./images/hero/sangria-cocktail-desc@1x.png 1x,
            ./images/hero/sangria-cocktail-desc@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/sangria-cocktail-tablet@1x.png 1x,
            ./images/hero/sangria-cocktail-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/sangria-cocktail-mobile@1x.png 1x,
            ./images/hero/sangria-cocktail-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/hero/sangria-cocktail-mobile@1x.png"
          class="hero__picture-cocktail"
          alt="cocktail"
        />
      </picture>
    </div>
    <div class="hero__discript">
      <p class="hero__text mobile">Search your favorite cocktail by ABC</p>
    </div>
    <div class="hero__items">
      <form class="form">
        <div class="check-box">
          A
          <svg class="check-box-svg" width="16px">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <ul class="to-choose">
          <li class="letter"><button value="A" class="js-letter">A</button></li>
          <li class="letter"><button value="B" class="js-letter">B</button></li>
          <li class="letter"><button value="C" class="js-letter">C</button></li>
          <li class="letter"><button value="D" class="js-letter">D</button></li>
          <li class="letter"><button value="E" class="js-letter">E</button></li>
          <li class="letter"><button value="F" class="js-letter">F</button></li>
          <li class="letter"><button value="G" class="js-letter">G</button></li>
          <li class="letter"><button value="H" class="js-letter">H</button></li>
          <li class="letter"><button value="I" class="js-letter">I</button></li>
          <li class="letter"><button value="J" class="js-letter">J</button></li>
          <li class="letter"><button value="K" class="js-letter">K</button></li>
          <li class="letter"><button value="L" class="js-letter">L</button></li>
          <li class="letter"><button value="M" class="js-letter">M</button></li>
          <li class="letter"><button value="N" class="js-letter">N</button></li>
          <li class="letter"><button value="O" class="js-letter">O</button></li>
          <li class="letter"><button value="P" class="js-letter">P</button></li>
          <li class="letter"><button value="Q" class="js-letter">Q</button></li>
          <li class="letter"><button value="R" class="js-letter">R</button></li>
          <li class="letter"><button value="S" class="js-letter">S</button></li>
          <li class="letter"><button value="T" class="js-letter">T</button></li>
          <li class="letter"><button value="U" class="js-letter">U</button></li>
          <li class="letter"><button value="V" class="js-letter">V</button></li>
          <li class="letter"><button value="W" class="js-letter">W</button></li>
          <li class="letter"><button value="X" class="js-letter">X</button></li>
          <li class="letter"><button value="Y" class="js-letter">Y</button></li>
          <li class="letter"><button value="Z" class="js-letter">X</button></li>
          <li class="letter"><button value="1" class="js-letter">1</button></li>
          <li class="letter"><button value="2" class="js-letter">2</button></li>
          <li class="letter"><button value="3" class="js-letter">3</button></li>
          <li class="letter"><button value="4" class="js-letter">4</button></li>
          <li class="letter"><button value="5" class="js-letter">5</button></li>
          <li class="letter"><button value="6" class="js-letter">6</button></li>
          <li class="letter"><button value="7" class="js-letter">7</button></li>
          <li class="letter"><button value="8" class="js-letter">8</button></li>
          <li class="letter"><button value="9" class="js-letter">9</button></li>
          <li class="letter"><button value="0" class="js-letter">0</button></li>
        </ul>
      </form>
    </div>
  </div>
</section>
