<!--BACKDROP MODAL-->

<div class="modal-form">
  <h1 class="modal-form__title">Negroni</h1>
  <img src="#" alt="#" />
  <h2 class="modal-form__ing">INGREDIENTS</h2>
  <p class="modal-form__disc">Per cocktail</p>
  <ul class="modal-form__list">
    <li class="modal-form__item"></li>
    <li class="modal-form__item"></li>
    <li class="modal-form__item"></li>
    <li class="modal-form__item"></li>
  </ul>
  <h3 class="modal-form__discription"></h3>
  <p class="modal-form__text"></p>
  <button class="modal-form__button button-primary" type="button"></button>
</div>

<!--MODAL FORM-->
