<div class="backdrop-cocktails hidden">
  <div class="modal-cocktails">
    <button
      class="modal-cocktails__button-close"
      type="button"
      data-modal-close
    >
      <svg class="modal-cocktails__icon" width="17" height="17">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div data-modal-cocktails>
      <h1 class="modal-cocktails__title">TITLE</h1>
      <h2 class="modal-cocktails__subtitle">INSTRACTION:</h2>
      <p class="modal-cocktails__descrip">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur
        facilis accusamus deleniti illo? Vitae culpa dolorum esse quaerat
        architecto placeat atque distinctio dolorem, perferendis sed pariatur
        quidem, provident ratione!
      </p>

      <img
        class="modal-cocktails__img"
        src="#"
        alt="modal-cocktails"
        width="280px"
        height="280px"
      />
      <h2 class="modal-cocktails__conteine">INGREDIENTS</h2>
      <p class="modal-cocktails__per">Per cocktail</p>
      <ul class="modal-cocktails__list">
        <li class="modal-cocktails__item">
          ✶
          <a class="modal-cocktails__link" href="#">Ingridient</a>
        </li>
      </ul>
    </div>
    <button class="modal-cocktails__button button-primary" type="button">
      Add to favorite
    </button>
  </div>
</div>
