<div class="backdrop-cocktails hidden">
  <div class="modal-cocktails" data-modal-cocktails>
    <button
      class="modal-cocktails__button-close"
      type="button"
      data-modal-close
    >
      <svg class="modal-cocktails__icon" width="17" height="17">
        <use href="/src/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h1 class="modal-cocktails__title">TITLE</h1>
    <h2 class="modal-cocktails__subtitle">INSTRACTION:</h2>
    <p class="modal-cocktails__descrip">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur
      facilis accusamus deleniti illo? Vitae culpa dolorum esse quaerat
      architecto placeat atque distinctio dolorem, perferendis sed pariatur
      quidem, provident ratione!
    </p>

    <img
      class="modal-cocktails__img"
      src="#"
      alt="modal-cocktails"
      width="280px"
      height="280px"
    />
    <h2 class="modal-cocktails__conteine">INGREDIENTS</h2>
    <p class="modal-cocktails__per">Per cocktail</p>
    <ul class="modal-cocktails__list">
      <li class="modal-cocktails__item">
        ✶
        <a class="modal-cocktails__link" href="#">Ingridient</a>
      </li>
    </ul>
    <button class="modal-cocktails__button button-primary" type="button">
      Add to favorite
    </button>
<!--MODAL FORM-->
<!-- <div class="modal-cocktails">
      <h1 class="modal-cocktails__title">Negroni</h1>
      <img src="#" alt="#" />
      <h2 class="modal-cocktails__ing">INGREDIENTS</h2>
      <p class="modal-cocktails__disc">Per cocktail</p>
      <ul class="modal-cocktails__list">
        <li class="modal-cocktails__item"></li>
        <li class="modal-cocktails__item"></li>
        <li class="modal-cocktails__item"></li>
        <li class="modal-cocktails__item"></li>
      </ul>
      <h3 class="modal-cocktails__discription"></h3>
      <p class="modal-cocktails__text"></p>
      <button class="modal-cocktails__button button-primary" type="button"></button>
    </div>
  </div>
</div> -->

