.backdrop-cocktails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(47, 48, 58, 0.4);


    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: var(--bezier-functiion);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

};