@import '../utils/mixins';

.favotite-ingredients {
  @extend %section;
}

.title-ingridient {
  @extend %section-title;
  text-align: center;
  @include tablet {margin-bottom: 78px;}
@include desktop {margin-bottom: 40px;}
  
}

.list-ingredients {
  @extend %list;
  @include tablet {min-width: 768px;}
}

.list-ingredients__item {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  // height: 177px;
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding: 20px;
  &:not(last-child) {
    margin-bottom: 20px;
  }
 @include tablet {min-width: 768px;}
 @include desktop {min-width: 1280px;}
    
}

.list-ingredients__name {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  @include tablet {
      min-width: 768px;
    }
    @include desktop {
      min-width: 1280px;
    }
}

.list-ingredients__descr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-transform: uppercase;
@include tablet {
    min-width: 768px;
  }
}

.box-btn {
  display: flex;
}

.btn-learn_more {
@include tablet {
    min-width: 768px;
  }
    @include desktop {
      min-width: 1280px;
    }
}
