// style for cocktail and ingredient

.favorite {
  @media screen and (min-width: 1280px) {
    background-color: inherit;
  }
}

// .main-heading {
//   font-family: 'Poppins';
//   font-weight: 600;
//   font-size: 22px;
//   line-height: 1.91;
//   text-align: center;
//   margin-bottom: 60px;

//   @media screen and (min-width: 768px) {
//     font-weight: 700;
//     font-size: 32px;
//     line-height: 1.19;
//   }

//   @media screen and (min-width: 1280px) {
//     font-size: 48px;
//     line-height: 1.5;
//   }
// }

.favorite__notfound-msg {
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 3;
  text-align: center;

  margin-bottom: 122px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 2.5;
    width: 296px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 385px;
    font-size: 32px;
    line-height: 2.25;
  }
}

//for ingredient

.favorite__list-ingredient {
  // margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

.ingredient-card {
  width: 280px;
  // height: 205px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding: 20px;

  @media screen and (min-width: 768px) {
    width: 336px;
    // height: 177px;
    padding: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    // height: 221px;
    padding: 30px 28px 26px;
  }
}

.favorite__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.ingredient-card__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;
    color: var(--bg-heading);
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 32px;
  }
}

.ingredient-card__text {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--bg-heading);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 16px;

    margin-bottom: 28px;
  }
}

.buttons-wrap {
  display: flex;
  gap: 22px;

  @media screen and (min-width: 768px) {
    gap: 12px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

//for cocktail
// #favorite {
//   // display: none;
//   width: 20px;
//   height: 20px;
//   border: 1px solid red;
// }

// .favorite-btn {
//   position: relative;
//   width: 100px;
//   height: 40px;

//   background-color: #fff;
//   border: 0.604701px solid #fd5103;
//   border-radius: 20px;
//   display: block;
//   cursor: pointer;
//   transition: 300ms;

//   &:after {
//     content: '';
//     position: absolute;
//     top: 1px;
//     left: 1px;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     background-color: #fd5103;
//     transition: 300ms;
//   }
// }

// #favorite:checked ~ .favorite-btn {
//   background-color: #fd5103;
//   border-color: #fff;
//   transition: 300ms;
// }

// #favorite:checked ~ .favorite-btn:after {
//   left: calc(100% - 1px);
//   transform: translateX(-100%);
//   background-color: #fff;
// }

// #one {
//   display: block;
//   width: 20px;
//   height: 20px;
//   border: 1px solid red;
//   margin-left: 20px;
// }

.one-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  width: 500px;
  height: 40px;
  border: 1px solid red;
  // background-color: red;
}
