.ing__cocktails-wrapper {
  @include tablet {
    width: 336px;
    height: 205px;
    border: 1px solid #fd5103;
    border-radius: 4px;
    padding: 20px;
  }
  @include desktop {
    width: 395px;
    height: 221px;
    border-radius: 4px;
    border: 1px solid #fd5103;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    padding-right: 28px;
  }

  width: 280px;
  height: 177px;
  border: 1px solid #fd5103;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ing__cocktails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  @include tablet {
    gap: 32px;
    margin-bottom: 141px;
  }
  @include desktop {
    gap: 32px;
  }
}

.ing__wrapper-btn {
  display: flex;
}

.ing__btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  @include desktop {
    gap: 16px;
  }
  @include tablet {
    gap: 12px;
  }
}

.ing__text-name {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: #202025;
  margin-bottom: 20px;
  @include desktop {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 28px;
  }
  @include tablet {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 28px;
  }
}

.ing__button-primary {
  display: block;
  padding: 7px 17px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-primary-inverse-color);
  background-color: var(--background-accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 39px;

  &:hover,
  &:focus {
    background-color: var(--background-hover-color);
    color: var(--text-accent-color);
  }

  @include tablet {
    padding: 12px 27px;
    font-size: 20px;
    height: 48px;
  }

  @include desktop {
    padding: 12px 38px;
    height: 48px;
  }
}

.ing__button-secondary {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 7px 20px;
  color: var(--text-accent-color);
  border: 1px solid var(--text-accent-color);
  border-radius: 4px;
  background-color: var(--background-primary-color);
  cursor: pointer;
  height: 39px;

  &:hover,
  &:focus {
    background-color: var(--background-hover-color);
  }

  @include tablet {
    padding: 12px 18px;
    font-size: 20px;
    margin-bottom: 28px;
    height: 48px;
  }

  @include desktop {
    padding: 12px 21px;
    height: 48px;
  }
}

.ing__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #5f6775;
  margin-bottom: 20px;
  @include desktop {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
  @include tablet {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
}
