@import '../utils/mixins';

.backdrop {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2f303a66;
}

.modal-ingredient {
  width: 90%;
  max-height: 95%;
  overflow-y: auto;

  padding: 40px 25px 40px 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-primary-color);
  overflow-y: auto;

  @include tablet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 715px;
    max-height: 557px;
    overflow-y: auto;
    padding: 40px 28px 28px 28px;
  }

  @include desktop {
    padding: 40px 33px 28px 28px;
  }
}
.close-btn {
  all: unset;
  background-color: transparent;
}
.close {
  position: absolute;
  top: 19px;
  right: 19px;
  display: block;
  width: 17px;
  height: 17px;
  margin-left: auto;
  cursor: pointer;
  fill: var(--text-primary-color);
}

.modal-ingredient__list {
  margin-left: 15px;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.modal-ingredient__title {
  margin-bottom: 20px;
  margin-left: 5px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
  color: var(--text-primary-color);

  @include tablet {
    margin-bottom: 28px;
    margin-left: 0;
  }
}

.modal-ingredient__descr {
  margin-bottom: 19px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--text-primary-color);

  @include tablet {
    margin-bottom: 27px;
    margin-left: -28px;
    margin-right: -33px;
    padding-left: 28px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-accent-color);
  }
}

.modal-ingredient__name {
  font-weight: 600;
  color: var(--text-primary-color);
}

.modal-ingredient__text {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-secondary-color);
  text-align: justify;
  letter-spacing: 0.03;

  @include desktop {
    margin-bottom: 34px;
  }
}

.modal-ingredient__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-secondary-color);
}

.modal-ingrid__span {
  color: var(--text-primary-color);
}

.modal-ingredient__btn {
  display: block;
  padding: 12px 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-primary-inverse-color);
  background-color: var(--text-accent-color);
  border: none;
  border-radius: 4px;

  @include tablet {
    margin-left: auto;
  }
}

.ingredient {
  cursor: pointer;
}
