@import '../utils/variables';

.modal-cocktails {
    position: absolute;
    width: 90%;
    overflow-y: scroll;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 40px;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(.17, .67, .83, .67);

    background-color: white;


    @media screen and (min-width: $mobile) {
    
        width: 320px;
    }

    @media screen and (min-width: $tablet) {
        padding-bottom: 28px;
        width: 822px;
    }
};

.backdrop-cocktails.is-hidden .modal-cocktails {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal-cocktails__title{
    @media screen and (min-width: $desktop) {
        margin-left: 320px;
    }
}


.modal-cocktails__subtitle{
    margin-top: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;

    color: #202025;

    @media screen and (min-width: $desktop) {
            margin-left: 320px;
        }

   
}

.modal-cocktails__descrip{
    margin-top: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    
    color: #5F6775;

    @media screen and (min-width: $desktop) {
        margin-left: 320px;
        }
}

.modal-cocktails__img{
    margin-top: 32px;


    border-radius: 4px;
    background-color: teal;
    display: block;


    @media screen and (min-width: $desktop) {
        position: absolute;
        display: flex;
        top:  -32px;
        left: 0;
        z-index: 2;
    }
}

.modal-cocktails__conteine{
    margin-top: 22px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $desktop) {
            margin-left: 320px;
            
        }
}

.modal-cocktails__per{
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
            margin-left: 320px;
        }
}

.modal-cocktails__list{
    margin-top: 8px;

    @media screen and (min-width: $desktop) {
            margin-left: 320px;

            
        }
}

.modal-cocktails__item:not(:last-child){
    margin-left: 8px;
}


.modal-cocktails__item{
    margin-bottom: 20px;
}

.modal-cocktails__link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #5F6775;
}


.modal-cocktails__button-close{
    border: none;
    background: transparent;

    position: absolute;
    display: flex;
    top: 23px;
    right: 23px;

    cursor: pointer;

    &:hover,
    &:focus{
        fill: var(--text-accent-color);
    }

    @media screen and (min-width: $desktop) {
            top: 19px;
            right: 19px;
        }
}

.modal-cocktails__button{
    @media screen and (min-width: $desktop) {
          margin-left: auto;
        }
}

.test {

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column-reverse;

    }
}

.test2 {

    @media screen and (min-width: $tablet) {

        margin-top: 117px;
        margin-left: -320px;
    }
}

.test3 {
    display: block;
}
